body {
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGVkZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e8edf2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8edf2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e8edf2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e8edf2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e8edf2 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e8edf2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8edf2',GradientType=0 );
}
label { font-weight: 400; }
textarea { resize: none; }
hr { border-top: 1px solid #D1D1D1; }
h1,h2,h3,h4,h5,h6 { font-weight: 400; }
.form-control, .btn { border-radius: 3px; }
.form-control { border-color: #B4B4B4; }
.form-control:focus {
	box-shadow: none;
	border-color: #255fa9;
}

.navbar-blue , .btn-primary{
	background-color: #255fa9;
	background-image: -moz-linear-gradient( 90deg, rgb(34,92,166) 0%, rgb(37,95,169) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(34,92,166) 0%, rgb(37,95,169) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(34,92,166) 0%, rgb(37,95,169) 100%);
}

.navbar-toggle {
	margin-left: 0; margin-right: 0; margin-top: 5px; position: absolute; left: 10px;
}
.navbar-blue .navbar-toggle { color: #fff; }
.navbar-blue h1.navbar-brand {
	margin: auto;
	float: none !important;
	text-align: center;
	display: inline-block;
	margin-top: 15px; padding: 0; padding-left: 15px; color: #fff; height: auto; font-weight: 300; 
}
.nav>li>a { padding: 5px 15px; font-weight: 300; font-size: 0.9em;}
.nav>li>a:hover { border-right: 3px solid #255fa9; background-color: transparent;}

.form-container > .row { margin-bottom: 25px; }
.form-container > .row .row { margin-bottom: 15px; }

.bordered-heading { padding-bottom: 10px; border-bottom: 1px solid #d3d3d3; }
.bordered-heading-no-margin { margin: 0; }
.well-blue {
	background-color: #D8E7F4;
	border: 1px solid #C2D5E6;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}