/* MAIN Styles  ---  Author: Eric de Felix ---  */
body {
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 61%, rgba(215,241,247,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(61%, rgba(255,255,255,0)), color-stop(100%, rgba(215,241,247,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 61%, rgba(215,241,247,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 61%, rgba(215,241,247,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 61%, rgba(215,241,247,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 61%, rgba(215,241,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7f1f7', GradientType=0 );
}
label { font-weight: 400; }
textarea { resize: none; }
hr { border-top: 1px solid #D1D1D1; }
h1,h2,h3,h4,h5,h6 { font-weight: 400; }
.form-control, .btn { border-radius: 3px; }
.form-control { border-color: #B4B4B4; border-width: 2px; }
.form-control:focus {
	box-shadow: none;
	border-color: #255fa9;
}
.text-primary { color: #255fa9; }
.navbar-blue , .btn-primary{
	background-color: #255fa9;
	background-image: -moz-linear-gradient( 90deg, rgb(34,92,166) 0%, rgb(37,95,169) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(34,92,166) 0%, rgb(37,95,169) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(34,92,166) 0%, rgb(37,95,169) 100%);
}
.navbar-toggle { margin-left: 0; margin-right: 0; margin-top: 5px; position: absolute; left: 10px; }
.navbar-blue .navbar-toggle { color: #fff; }
.navbar-blue h1.navbar-brand {
	margin: auto;
	float: none !important;
	text-align: center;
	display: inline-block;
	margin-top: 15px; padding: 0; padding-left: 15px; color: #fff; height: auto; font-weight: 300; 
}
.nav>li>a { padding: 5px 15px; font-weight: 300; font-size: 0.9em;}
.nav>li>a:hover { border-right: 3px solid #255fa9; background-color: transparent;}
.bordered-heading { padding-bottom: 10px; border-bottom: 1px solid #d3d3d3; }
.bordered-heading-no-margin { margin: 0; }
.well-blue {
	background-color: #D8E7F4;
	border: 1px solid #C2D5E6;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}


/* LOGIN */
.img-logo{ max-width: 80%; }
.login-form { padding-top: 15%; }
.login-form-fields { margin: 25px 0; }
.login-form-fields > .form-group { margin: 0; position: relative;}
.login-form-fields > .form-group:first-of-type { margin-bottom: -2px; }
.login-form-fields > .form-group:first-of-type > input.form-control { 
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-appearance: none;
}
.login-form-fields #password {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-webkit-appearance: none;
}
.login-form-fields > .form-group > input.form-control { z-index: 0; }
.login-form-fields > .form-group > input.form-control:focus { z-index: 2 !important; position: relative; }
.login-no-account { display: block; margin-top: 15px; }
.my-toggle {
  background: transparent;
  border: 0;
  border-radius: 0.25em;
  color: #888;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.my-toggle:hover,
.my-toggle:focus {
  background-color: #eee;
  color: #555;
  outline: transparent;
}

.form-group label { font-size: 1em; text-transform: uppercase; color: #444;}

@media screen and (min-width: 992px){
	.col-lg-custom-6 { width: 40%; }
	.col-lg-custom-offset-3 { margin-left: 30%; }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
	.col-ts-6{ width: 70%; }
	.col-ts-offset-6 { margin-left: 15%; }
}

.page{
	padding-top: 50px;
}

.register-account-check{
	margin-top: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: transparent;
}












/*Patient Info Styles*/

.form-container > .row { margin-bottom: 25px; }
.form-container > .row .row { margin-bottom: 15px; }




.form-group label {
	font-weight: bold;
	display: block;
	clear: both;
}

.patient-info tr:hover {
	cursor: pointer;
}

.fixed-table-body { background-color: #fff; }
.fixed-table-container thead th { border-left: 1px solid #5291C1; }
.th-inner { background-color: #255fa9; color: #fff; }

/* Landscape phones and smaller - display cells that are only needed on mobile */
@media (max-width: 480px) {

/*	.patient-info tr th:not(:first-child),
	.patient-info tr td:not(:first-child) { display: none; }

	.patient-info tr th:not(:last-child),
	.patient-info tr td:not(:last-child) { display: none; }*/
	
	.patient-info tr th, .patient-info tr td { display: none; }
	.patient-info tr th:first-child,
	.patient-info tr td:first-child,
	.patient-info tr th:last-child,
	.patient-info tr td:last-child,
	.patient-info tr th:nth-child(2),
	.patient-info tr td:nth-child(2)
	{
		display: table-cell;
		empty-cells: show;
	}
}

/* BS modal fade override */
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
     -moz-transition: -moz-transform 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
       -o-transition: -o-transform 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
          transition: transform 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}