

.text-highlight{
	color: #0F7DDD;
	font-weight: 500;
}

.variables-form {
  background: none repeat scroll 0 0 #f5f5f5;
  line-height: 15px;
  margin: 20px auto 0;
  padding: 15px;
  text-align: center;
  max-width: 500px;
}

.variables-form label{
	font-size: 13px;
	text-align: left;
	width: 100%;
	font-weight: 400;
}

.variables-form .heading{
	font-weight: 500;
}

.variables-form .pages-select{
	font-size: 13px;
	margin-bottom: 10px;
	display: block;
}

.variables-form .tests-select{
	font-size: 13px;
	margin-bottom: 10px;
	clear: both;
	display: block;
}

.variables-form .form-control{
	height: 32px;
}

.variables-form h1 {
  font-size: 15px;
  margin: 0.67em 0;
  padding-bottom: 12px;
  text-align: center;
}

#btn-showvars{
	position: fixed;
	bottom: 1px;
	right: 1px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background: #fff;
}

.input-group-addon.field {
  background: none repeat scroll 0 0 #eee;
  font-size: 18px;
  font-weight: 300;
  width: 90px;
}

.variables-container, .static-container{
	font-size: 12px;
	text-align: center;
}

.variables-container label{
	text-align: left;
}