*{
	vertical-align: top;
}

body, html {
 height: 100%;
 padding: 0;
}


body{
	font-size: 19px;
	font-weight: 300;
	overflow-x: hidden;
	overflow-y: auto; 
}

.navbar-toggle {
  position: absolute;
  right: -12px;
  top: -5px;
}

.hidden{
	display: none;
}

.text-sm{
	font-size: 12px;
}

.text-md{
	font-size: 17px;
}

.text-lg{
	font-size: 20px;
}

.text-xl{
	font-size: 25px;
}

#header h1 {
  font-size: 19px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 15px;
}

.container-fluid{
	height: 100%;
}

.navbar-header{
	background: #428bca;
	color: #fff;
}



#sidebar{
	background: #428bca;
	border: none;
	font-size: 17px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #428bca;
}

.navbar{
	min-height: 0px;
	border: none;
}

.navbar-header h1{
	text-align: center;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: #fff;
}

.navbar-nav > li > .dropdown-menu{
	background: #428bca;
}

.align-center{
	text-align: center;
}

.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}

.page {
  margin: 39px auto 0;
  min-height: 100%;
  overflow: auto;
  padding: 12px 0;
}

.panel {
  margin: 0;
  padding: 14px;
}

.panel-body{
	padding: 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding: 0px;
}

.well {
  padding: 9px 10px;
}

.btn {
  background: none repeat scroll 0 0 #428bca;
  border: medium none;
  color: #fff;
  font-size: 17px;
  min-height: 45px;
  min-width: 108px;
  line-height: 31px;
}

.offset-top-1{
	margin-top:10px;
}

.offset-top-2{
	margin-top:15px;
}

.offset-top-3{
	margin-top:20px;
}

.offset-left-1{
	margin-left:10px;
}

.offset-left-2{
	margin-left:15px;
}

.offset-left-3{
	margin-left:20px;
}


.well{
	background: #F8F8F8;
	border: none;
	box-shadow: none;
	margin-bottom: 0px;
}

.panel-footer{
	background: #fff;
	border-top: 0px;
	padding: 6px;
}

.form-control{
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	border-color: #e1e1e1;
	height: 43px;
}

.text-highlight{
	color: #0F7DDD;
	font-weight: 500;
}

.variables-form {
  background: none repeat scroll 0 0 #f5f5f5;
  line-height: 15px;
  margin: 20px auto 0;
  padding: 15px;
  text-align: center;
  max-width: 500px;
}

.variables-form label{
	font-size: 13px;
	text-align: left;
	width: 100%;
	font-weight: 400;
}

.variables-form .heading{
	font-weight: 500;
}

.variables-form .pages-select{
	font-size: 13px;
	margin-bottom: 10px;
	display: block;
}

.variables-form .tests-select{
	font-size: 13px;
	margin-bottom: 10px;
	clear: both;
	display: block;
}

.variables-form .form-control{
	height: 32px;
}

.variables-form h1 {
  font-size: 15px;
  margin: 0.67em 0;
  padding-bottom: 12px;
  text-align: center;
}

#btn-showvars{
	position: fixed;
	bottom: 1px;
	right: 1px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background: #fff;
}

.input-group-addon.field {
  background: none repeat scroll 0 0 #eee;
  font-size: 18px;
  font-weight: 300;
  width: 90px;
}

.input-group-addon{
	background: #fff;
}

.variables-container, .static-container{
	font-size: 12px;
	text-align: center;
}

.variables-container label{
	text-align: left;
}