body {
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGVkZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e8edf2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8edf2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e8edf2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e8edf2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e8edf2 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e8edf2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8edf2',GradientType=0 );
}
label { font-weight: 400; }
textarea { resize: none; }
hr { border-top: 1px solid #D1D1D1; }
h1,h2,h3,h4,h5,h6 { font-weight: 400; }
.form-control, .btn { border-radius: 3px; }
.form-control { border-color: #B4B4B4; }
.form-control:focus {
	box-shadow: none;
	border-color: #255fa9;
}

.navbar-blue , .btn-primary{
	background-color: #255fa9;
	background-image: -moz-linear-gradient( 90deg, rgb(34,92,166) 0%, rgb(37,95,169) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(34,92,166) 0%, rgb(37,95,169) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(34,92,166) 0%, rgb(37,95,169) 100%);
}

.navbar-toggle {
	margin-left: 0; margin-right: 0; margin-top: 5px; position: absolute; left: 10px;
}
.navbar-blue .navbar-toggle { color: #fff; }
.navbar-blue h1.navbar-brand {
	margin: auto;
	float: none !important;
	text-align: center;
	display: inline-block;
	margin-top: 15px; padding: 0; padding-left: 15px; color: #fff; height: auto; font-weight: 300; 
}
.nav>li>a { padding: 5px 15px; font-weight: 300; font-size: 0.9em;}

.form-container > .row { margin-bottom: 25px; }
.form-container > .row .row { margin-bottom: 15px; }

.bordered-heading { padding-bottom: 10px; border-bottom: 1px solid #75A3CA; }
.bordered-heading-no-margin { margin: 0; }
.well {
	border-radius: 2px;
	-webkit-box-shadow: none;
		box-shadow: none;
}
.well-blue {
	background-color: #D8E7F4;
	border: 1px solid #C2D5E6;
}
.well-gray {
	background-color: #F7F7F7;
	border: 1px solid #E6E6E6;
}


.badge { vertical-align: middle;  }
.badge-pending { background-color: rgb(25, 131, 25); }
.badge-done { background-color: #255fa9; }

.badge-nav {
	color: #fff;
	background-color: #0A366E;
	font-size: 0.78em;
	font-weight: normal;
	text-transform: uppercase;
}

.table-responsive { border-radius: 2px; }

.input-unit-min:before{ content: '/min' ; }
.input-unit-l:before{ content: '(L)' ; }
.input-unit-r:before{ content: '(R)' ; }

.list-group-small .list-group-item {
	padding: 5px 10px;
	font-size: 0.9em;
}
.step-label { margin-top: 10px; display: inline-block; }
.step-header { margin-top: 5px; }
.section { display: none; }

.btn-xxs {
	padding: 1px 4px;
	font-size: 0.8em;
}
.push-right { position: relative; top: 0; left: 10px; }

.form-label-static {
	font-weight: bold;
	width: 130px;
	display: inline-block;
	margin-right: 15px;
	text-align: right;
}

.form-data-static, .form-data-edit { display: inline-block; }
.form-data-edit { display: none; }
.form-data-edit > .form-control.input-inline {
	display: inline-block;
	width: 180px;
	height: 20px;
	font-size: 0.8em;
}

/* Loading overlay and messages */
.modal { background-color: rgba(2, 42, 71, 0.8); }
.modal.fade .modal-dialog {
	-webkit-transform: translate(0, 0%);
		transform: translate(0, 0%);
	-webkit-transition: -webkit-transform 1s cubic-bezier(.01,.97,.41,1);
		transition: transform 1s cubic-bezier(.01,.97,.41,1);
}

.loading-overlay {
	background-color: rgba(2, 42, 71, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: auto;
	right: 0;
	z-index: 2999;
	opacity: 0;
	visibility: hidden;
}

.loading-spinner {
	display: block;
	color: #fff;
	margin: 23% auto auto auto;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.loading-icon {
	display: block;
	clear: both;
}

.loading-text {
	display: inline-block;
	clear: both;
	margin: 20px;
	text-align: center;
}

.alert {
	width: 100%;
	height: 100%;
	bottom: 0;
	left: auto;
	right: 0;
	background: transparent;
	position: fixed;
	z-index: 3000;
	visibility: hidden;
}

.alert-box {
	background-color: rgba(2, 69, 149, 0.85);
	box-shadow: 0 1px 50px 1px rgba(3, 17, 32, 0.6);
	border-radius: 4px;
	color: #fff;
	padding: 1.2em;
	font-size: 1.2em;
	text-align: center;
	min-width: 20em;
	opacity: 0;
	visibility: hidden;
}

.loading-overlay.fade, .alert-box.fade {
	transition: all 1s cubic-bezier(.01,.97,.41,1);
		-moz-transition: all 1s cubic-bezier(.01,.97,.41,1);
			-webkit-transition: all 1s cubic-bezier(.01,.97,.41,1);
}
.loading-overlay.in, .alert-box.in {
	opacity: 1;
	visibility: visible;
	transition: all 1s cubic-bezier(.01,.97,.41,1);
		-moz-transition: all 1s cubic-bezier(.01,.97,.41,1);
			-webkit-transition: all 1s cubic-bezier(.01,.97,.41,1);
}

.alert-box-bottom-right {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.alert-button {
	display: block;
	clear: both;
	margin: 1em 1em auto 1em;
}

.testbutton { position: fixed; right: 15px; bottom: 15px; }


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  /* your css rules for ipad portrait */
  .loading-spinner { margin-top: 50%; }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
   /* your css rules for ipad landscape */
  .loading-spinner { margin-top: 45%; }
}